<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="icon" href="/images/favicon.ico" type="image/ico">
</head>
<body>
    <div id="background-img"></div>
    <nav>
        <div class="nav-title">Notes App</div>
        <ul class="nav-links">
            <li class="active"><a href="">Home</a></li>
            <% if(!currentUser) { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            <% } else { %>
                <li><a href="/logout">Logout</a></li>
            <% } %>   
            
        </ul>
    </nav>
    <main class="px-3">
        <h1>Notes App</h1>
        <p class="lead">Acquiring the habit of note-taking is a wondefully complementary skill to that of listening.</p>
        <% if(currentUser) { %> 
            <div>
                <a href="/<%= currentUser._id %>/notes" class="btn btn-lg btn-dark">View Your Notes</a>
            </div>
        <% } %> 
    </main>
    <div id="footer" class="text-center font-wt-700">
        Made with <span>&#10084</span> by Debanjan Poddar
    </div>
</body>
</html>