html {
    overflow-y: scroll;
}
::-webkit-scrollbar {
    max-width: 3vw;
}
::-webkit-scrollbar-track {
    background-color: #333;
}
::-webkit-scrollbar-thumb {
    background: rgb(255, 97, 97);
}

body {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7)
        ),
        url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card-header {
    border: 1px solid rgb(169, 169, 169);
}
input[type="text"],
textarea[type="text"] {
    border: 1px solid rgb(150, 150, 150);
}
.forget-btn,
.sign-up-btn {
    width: 50%;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(41, 40, 40);
    color: white;
    font-size: 1rem;
    padding: 0.4em 0;
    z-index: 200;
    text-align: center;
}
@media (max-width: 374px) {
    .forget-btn {
        width: 65%;
    }
    .sign-up-btn {
        width: 35%;
    }
}
