<% layout('layouts/boilerplate') %> 

<div class="container d-flex justify-content-center-aligh-items-center mt-4 mb-3">
    <div class="row flex-fill">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="/images/register_image.jpg" alt="" class="card-img-top"/>
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" class="validated-form" method="POST" novalidate>
                        <div class="form-floating mb-3">
                            <input type="text" id="username" name="username" class="form-control" required autofocus placeholder="abc2002">
                            <label for="username" class="form-label text-muted">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" id="email" name="email" class="form-control" placeholder="name@example.com"required>
                            <label for="email" class="form-label text-muted">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" id="password" name="password" class="form-control" placeholder="abc2002" required>
                            <label for="password" class="form-label text-muted">Password</label>
                        </div>
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <button class="btn btn-success">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>